<footer>
    <div class="footer">
      
    <div class="help">
     <p><b>
       Help
     </b></p>
     <ul>
       <li>Help center</li>
       <li>Help forum</li>
       <li>Video Tutorial</li>
     </ul>
   </div>
   <div class="community">
    <p><b>
      Community
    </b></p>
    <ul>
     <li><img src="" alt="">facebook</li>
     <li><img src="" alt="">Twitter</li>
     <li><img src="" alt="">instagram</li>
   </ul>
   </div>
   <div class="Developers">
    <p><b>
     Developers
    </b></p>
    <ul>
     <li>devhub</li>
     <li>devpro</li>
   
   </ul>
   </div>
    </div>
    <div class="line"></div>
    <div class="policy">
      <p><b>Terms of service | privacy | content policy</b></p>
    </div>
  </footer>