<nav class="nav">
    <div class="navHead">
        <a href="/blogs">
       
        <p>DEvPRO</p>
    </a>
    </div>
    <div class="nav-link">
        <ul class="links">

            <li><a href="/create">create</a></li>
            <li><a href="/about">about us</a></li>
            <li><a href="/contact">contact us</a></li>
            
           
        </ul>
    </div>
    <div class="sing_in">
        <button>sign in</button>
    </div>
</nav>