<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/style.ejs') %>
    <%- include('./partials/about-style') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <section>
        <div class="text">
            <h2>About Us</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta pariatur omnis quae similique quis aperiam voluptatem perferendis non maxime enim. 
                Nobis voluptate nihil sequi est. Recusandae excepturi omnis distinctio possimus!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil sint voluptatum ducimus. Deleniti numquam delectus provident quo atque 
                vel commodi mollitia, cumque voluptate soluta ea, asperiores iusto aut veniam quam?
            </p>
        </div>
        <div class="img">
            <img src="./img/young-millennial-student-searches-information-homework-writes-down-necessary-content-textbook-prepare-project-it-topic_273609-38712.webp" alt="">
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>
</html>